In [19]:
# Tugas Sistem Pendukung Pengambilan Keputusan
# Sistem Rekomendasi Restoran di Jakarta
## Last Updated 24 November 2021

## Kelompok 4 II4021 Sistem Pendukung Pengambilan Keputusan
## 18218009 Adi Hendro
## 18218021 Muhamad Ilman Sukarsa
## 18218037 Wita Dewisari Tasya

In [20]:
# Data Undestanding
'''Pengumpulan data melalui dataset yang didapatkan dari zomato-kaggle'''

## Import Library yang Digunakan
import pandas as pd
import matplotlib.pyplot as plt

## Kamus Dataframe
'''
df = dataframe final yang akan digunakan
df1 = restoran.csv
df2 = Dimsum.csv
df3 = Noodle.csv
df4 = Sushi.csv
'''

## Import Dataframe untuk melihat struktur data
df1 = pd.read_csv("restoran.csv", sep=";")
df2 = pd.read_csv("Dimsum.csv")
df3 = pd.read_csv("Noodle.csv")
df4 = pd.read_csv("Sushi.csv")

#### Ukuran Data dan Gambaran Data
print("Ukuran Data Awal dan Gambaran Data")
print("")

print("Dataframe 1 - Restoran", df1.shape)
'''
Restaurant Name = nama restoran
Restaurant Type = jenis restoran
Restaurant Area = daerah restoran
Restaurant Rating = rating restoran
Restaurant Review = jumlah ulasan (berbentuk "x Reviews")
Restaurant Address = alamat restoran
Latitude = garis lintang posisi restoran
Longitude = garis bujur posisi restoran
Price = harga estimasi untuk makan di restoran
'''
print("")

print("Dataframe 2 - Dimsum", df2.shape)
'''
rest_name = nama restoran
rest_zone = daerah restoran
rating = rating restoran
review = jumlah ulasan (berbentuk "(x Ulasan)")
rest_address = alamat restoran
rest_type = jenis restoran
rest_cost = biaya makan perkiraan di restoran (berbentuk "Harga untuk 2:Rpx.000")
rest_time = jam dan hari operasional restoran
'''
print("")

print("Dataframe 3 - Noodle", df3.shape)
'''
rest_name = nama restauran
rest_zone = daerah restoran
rating = nilai rating restoran
review = jumlah ulasan (berbentuk "x Ulasan")
rest_address = alamat restoran
rest_type = jenis restoran
rest_cost = biaya makan perkiraan di restoran (berbentuk "Harga untuk 2:Rpx.000")
rest_time = jam dan hari operasional restoran
'''
print("")

print("Dataframe 4 - Sushi", df4.shape)
'''
rest_name = nama restauran
rest_zone = daerah restoran
rating = nilai rating restoran
review = jumlah ulasan (berbentuk "x Ulasan")
rest_address = alamat restoran
rest_type = jenis restoran
rest_cost = biaya makan perkiraan di restoran (berbentuk "Harga untuk 2:Rpx.000")
rest_time = jam dan hari operasional restoran
'''

print ("Karena berbagai pertimbangan yang dilakukan, data yang digunakan adalah restoran.csv")

Ukuran Data Awal dan Gambaran Data

Dataframe 1 - Restoran (136, 9)

Dataframe 2 - Dimsum (165, 8)

Dataframe 3 - Noodle (151, 8)

Dataframe 4 - Sushi (137, 8)
Karena berbagai pertimbangan yang dilakukan, data yang digunakan adalah restoran.csv

In [21]:
#Data Cleaning
'''
Data dibuat dengan format sesuai pada laporan
'''

## Ambil Integer dari Jumlah Review
for i in range(len(df1)):
    strReview = str(df1['Restaurant Review'][i]) ## Get from df
    intReview = ''.join(x for x in strReview if x.isdigit()) ## Get integer
    df1['Restaurant Review'][i] = intReview ## Put integer to df

## Ambil Integer dari Harga
for j in range(len(df1)):
    strPrice = str(df1['Price'][j]) ## Get from df
    intPrice = ''.join(x for x in strPrice if x.isdigit()) ## Get integer
    df1['Price'][j] = intReview ## Put integer to df

<ipython-input-21-827cc1e250d7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Restaurant Review'][i] = intReview ## Put integer to df
<ipython-input-21-827cc1e250d7>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Price'][j] = intReview ## Put integer to df

In [22]:
# Create new dataframe untuk yang bersih
df = df1
intLooping = len(df)

## Buat Array ID Restoran
arrID = []
a = [0 for x in range(intLooping)]
for k in range(intLooping):
    arrID.append(k)
    arrID[k] = k

## Tambah Kolom ID Restoran
df.insert(0, 'Restaurant_ID', arrID, True)

## Ubah Nama Kolom agar sesuai
### Name
df = df.rename({"Restaurant Name":"Name"}, axis='columns')
### Type
df = df.rename({"Restaurant Type":"Type"}, axis='columns')
### Area
df = df.rename({"Restaurant Area":"Area"}, axis='columns')
### Rating
df = df.rename({"Restaurant Rating":"Rating"}, axis='columns')
### Review
df = df.rename({"Restaurant Review":"Review"}, axis='columns')
### Coordinate dibiarkan berbentuk latitude longitude

## Penyesuaian dataframe dengan desain data
### Price dibiarkan karena data dianggap kurang relevan untuk rekomendasi (tidak masuk parameter)
### Address dibiarkan karena sudah ada area

df.head()

,Restaurant_ID,Name,Type,Area,Rating,Review,Restaurant Address,Latitude,Longitude,Price
0,0,Hause Rooftop,"['Casual Dining', 'Bar', 'Western', 'Coffee', ...",Setiabudi,4.3,1282,"MD Place Bulding, Lantai 6, Jl. Setiabudi Sela...",-62.081.643.570,106.828.454.285,
1,1,The Neighbourhood,"['Fine Dining', 'Indonesian']",Dharmawangsa,4.4,770,"Jl. Cipaku I No. 85, Dharmawangsa, Jakarta 12170",-62.395.528.820,106.814.613.081,
2,2,SKYE,"['Fine Dining', 'Lounge', 'Fusion', 'European'...",Thamrin,4.3,2827,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...",-61.967.130.000,106.822.580.000,
3,3,WAKI Japanese BBQ Dining,"['Casual Dining', 'Japanese', 'BBQ']",Thamrin,4.9,2995,"Lantai 1, Jl. Tanjung Karang No. 5, Thamrin, J...",-62.011.260.000,106.822.306.000,
4,4,3 Wise Monkeys,"['Casual Dining', 'Japanese', 'Sushi']",Senopati,4.2,2091,"Jl. Senopati No. 46, Senopati, Jakarta",-62.311.835.698,106.808.081.232,

In [25]:
# Export Dataframe
df.to_csv("dataFinal.csv")